QWEN3_TTS_API_HOST=127.0.0.1
QWEN3_TTS_API_PORT=10088
QWEN3_TTS_API_KEY=
QWEN3_TTS_MODEL_ROOT=/Users/gengwenhao/.lmstudio/models/mlx-community
QWEN3_TTS_PROMPT_CACHE_DIR=./cache/voice_clone_prompts
QWEN3_TTS_PRELOAD_MODEL=Qwen3-TTS-12Hz-1.7B-Base-4bit
